.form-container {
  @include box-shadow;
  min-width: 400px;
  box-sizing: border-box;
  // background-color: transparent;
  padding: 20px;
  border-radius: 20px;
  border-style: groove;
  // box-shadow: 20px 20px 50px rgba(27, 27, 27, 0.13);
  box-shadow: 20px 20px 50px 10px rgba(0, 179, 210, 0.26) inset;


  .input-container {
    padding-bottom: 20px;

    input {
      border: none;
      outline: none;
      background: $theme-gray;
      padding: 10px;
      border-radius: 5px;
      width: 96%;
      font-family: "Josefin Sans", sans-serif;
      background-color: white;
      // background-color: transparent;

      &::placeholder {
        opacity: 0.5;
        background-color: white; /* Add this line to set the placeholder background color to white */
      }
    }
  }

  button {
    width: 100%;
  }

  hr {
    margin: 30px;
    border: none;
    outline: none;
    border-top: 2px solid $theme-gray;
  }

  .form-info-text {
    text-align: center;
    color: $theme-primary;
    margin: 30px;
  }
}

.form-error-text {
  color: $theme-secondary;
  text-transform: lowercase;
  font-weight: 400;
  font-size: 0.9rem;
}